{% extends 'base.html' %}

{% block title %}
    <title>Author Book Detail List</title>
{% endblock %}


{% block content %}
  <h1>Books by {{ book.author.first_name }} {{ book.author.last_name }}</h1>

  <div style="margin-left:20px;margin-top:20px">
    <h3>Titles</h3>

        {% for book in book_list %}
          <p><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></p>
          <p>{{ book.summary }}</p>
          <p><strong>Language:</strong> {{ book.language }}</p>
{#          <p><strong>Genre:</strong>#}
{#              {% for genre in book.genre.all %}#}
{#                  {{ genre }}#}
{#                  {% if not forloop.last %},#}
{#                  {% endif %}#}
{#              {% endfor %}#}
{#          </p>#}
        {% endfor %}



  </div>
{% endblock %}